#videoBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
.content{
    position: fixed;
    top: 0;
    background-color: grey;
    color: whitesmoke;
    text-align: center;
    width: 100%;
}
.penjelasan{
    position: fixed;
    top: 100 ;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    animation: bounce duration timing-function delay iteration-count direction fill-mode;
}
.penjelasan2{
    position: fixed;
    top: 100 ;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    animation: bounce duration timing-function delay iteration-count direction fill-mode;
}